<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body>
<!-- team roster header -->
    <div class="bg-dark pt-2 pb-3">
        <div class="container">
            <h1 class="text-center text-white">The Team</h1>
        </div>
    </div>
    <br>
        <div class="card-deck hide">
            <div class="card bg-primary">
                <div id="day-1" class="card-body p-2">
                    <h6 class="card-date">Manager</h6>
                    <img class="weather-icon">
                    <p class="weather-temp"></p>
                    <p class="weather-humidity"></p>
                </div>
            </div>
            <div class="card bg-primary">
                <div id="day-2" class="card-body p-2">
                    <h6 class="card-date">Engineer</h6>
                    <img class="weather-icon">
                    <p class="weather-temp"></p>
                    <p class="weather-humidity"></p>
                </div>
            </div>
            <div class="card bg-primary">
                <div id="day-3" class="card-body p-2">
                    <h6 class="card-date">Engineer</h6>
                    <img class="weather-icon">
                    <p class="weather-temp"></p>
                    <p class="weather-humidity"></p>
                </div>
            </div>
            <div class="card bg-primary">
                <div id="day-4" class=" card-body p-2">
                    <h6 class="card-date">Intern</h6>
                    <img class="weather-icon">
                    <p class="weather-temp"></p>
                    <p class="weather-humidity"></p>
                </div>
            </div>
            <div class="card bg-primary">
                <div id="day-5" class="card-body p-2">
                    <h6 class="card-date">Intern</h6>
                    <img class="weather-icon">
                    <p class="weather-temp"></p>
                    <p class="weather-humidity"></p>
                </div>
            </div>
        </div>
    
</body>
</html>